.container {
  display: flex;
  gap: 3.75rem;
  height: 100%;

  > .aside {
    > .tags {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding: 1rem;
      background-color: var(--color-background);
    }
  }

  > .contents {
    flex: 1;
    background-color: var(--color-background);

    > .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 1.5rem;
      color: var(--color-text-02);
      font-weight: 600;
    }
    > .posts {
      padding: 1rem;
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}
