.tag {
  background-color: transparent;
  border: 0;
  text-align: left;
  font-size: 1rem;
  color: var(--color-text-02);
  text-transform: capitalize;
  cursor: pointer;

  &.active {
    color: var(--color-text-01);
    font-weight: 600;
  }
}
