@import '@/styles/common.scss';

.container {
  > .wrapper {
    min-height: calc(100vh - 7.5rem);
  }
  > .footer {
    border-top: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    color: #666;
  }
}
